@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(rgba(58, 150, 243, 0.2), rgba(97, 255, 205, 0.2)), url("/frontend/public/bg11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}